<header>
    <div class="container header-container">
       <a href="{{ .Site.BaseURL }}" class="logo" style="display:flex; align-items:center; gap:6px;">

    <img src="/images/SelcukSports-logo.png"
         alt="Selcuksportshd Logo"
         style="width:30px; height:auto; display:block;"><span>Selcuksportshd</span>App</a>
        
        <nav id="main-nav">
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
        
        <div class="mobile-menu-btn" id="mobile-menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>